# TC1002 Herramientas computacionales
## Actividad Evaluable: Obtención de estadisticas descriptivas
**Integrantes del equipo**
- Ángel Padilla Esqueda | A016339055
- Javier Alejandro Morales Rivadeneyra | A01632535
- Carlos Alberto Veryan Peña | A01641147
- Juan Pablo Pérez Durán | A01639947
- Brandon Josué Magaña Mendoza | A01640162

In [16]:
import pandas as pd
from matplotlib import pyplot as plt

In [31]:
df = pd.read_csv("alumnos.csv", encoding = 'latin-1')

In [35]:
df.info()
print("Numero de datos: " , len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14018 entries, 0 to 14017
Data columns (total 43 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   CLAVE CT                                14018 non-null  object
 1   NOM TURNO                               14018 non-null  object
 2   NOMBRE CT                               14018 non-null  object
 3   DOMICILIO                               14018 non-null  object
 4   LOCALIDAD INEGI                         14018 non-null  int64
 5    NOMBRE LOCALIDAD                       14018 non-null  object
 6   NOMBRE COLONIA                          14018 non-null  object
 7   MUNICIPIO                               14018 non-null  int64
 8   NOMBRE MUNICIPIO                        14018 non-null  object
 9   SOSTENIMIENTO                           14018 non-null  object
 10  NIVEL                                   14018 non-null  object
 11  PROGRAMA                                14018 non-null  object
 12  HOMBRES 1¡                              14018 non-null  int64
 13  MUJERES 1¡                              14018 non-null  int64
 14  TOTAL 1¡                                14018 non-null  int64
 15  HOMBRES 2¡                              14018 non-null  int64
 16  MUJERES 2¡                              14018 non-null  int64
 17  TOTAL 2¡                                14018 non-null  int64
 18  HOMBRES 3¡                              14018 non-null  int64
 19  MUJERES 3¡                              14018 non-null  int64
 20  TOTAL 3¡                                14018 non-null  int64
 21  HOMBRES 4¡                              14018 non-null  int64
 22  MUJERES 4¡                              14018 non-null  int64
 23  TOTAL 4¡                                14018 non-null  int64
 24  HOMBRES 5¡                              14018 non-null  int64
 25  MUJERES 5¡                              14018 non-null  int64
 26  TOTAL 5¡                                14018 non-null  int64
 27  HOMBRES 6¡                              14018 non-null  int64
 28  MUJERES 6¡                              14018 non-null  int64
 29  TOTAL 6¡                                14018 non-null  int64
 30  HOMBRES TOTAL                           14018 non-null  int64
 31  MUJERES TOTAL                           14018 non-null  int64
 32  MATRICULA TOTAL                         14018 non-null  int64
 33  DOCENTES                                14018 non-null  int64
 34  GRUPOS                                  14018 non-null  int64
 35  DOCENETE EDUCACION FISICA               14018 non-null  int64
 36  DOCENTE ACTIVIDADES ARTISTICAS          14018 non-null  int64
 37  DOCENTE ACTIVIDADES TECNONOLOGICAS      14018 non-null  int64
 38  DOCENTE DE IDIOMAS                      14018 non-null  int64
 39  PERSONAL DE ADMINISTRATIVO Y SERVICIOS  14018 non-null  int64
 40  DIRECTOR CON GRUPO                      14018 non-null  int64
 41  DIRECTOR SIN GRUPO                      14018 non-null  int64
 42  TOTAL DE PERSONAL                       14018 non-null  int64
dtypes: int64(33), object(10)
memory usage: 4.6+ MB
Numero de datos:  14018

## Rangos

In [37]:
df.describe()

,LOCALIDAD INEGI,MUNICIPIO,HOMBRES 1¡,MUJERES 1¡,TOTAL 1¡,HOMBRES 2¡,MUJERES 2¡,TOTAL 2¡,HOMBRES 3¡,MUJERES 3¡,...,DOCENTES,GRUPOS,DOCENETE EDUCACION FISICA,DOCENTE ACTIVIDADES ARTISTICAS,DOCENTE ACTIVIDADES TECNONOLOGICAS,DOCENTE DE IDIOMAS,PERSONAL DE ADMINISTRATIVO Y SERVICIOS,DIRECTOR CON GRUPO,DIRECTOR SIN GRUPO,TOTAL DE PERSONAL
count,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.00000,...,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000,14018.000000
mean,69.183621,68.894421,14.384292,13.736767,28.121059,17.870238,17.392852,35.263090,17.290555,16.91889,...,6.018476,4.843416,0.468112,0.258453,0.227493,0.128763,1.957555,0.405907,0.495006,9.115209
std,373.026706,36.053656,27.833578,25.470229,52.060523,24.878830,24.401495,48.270267,23.177131,23.09034,...,8.163845,4.671970,0.720487,0.604059,0.870740,0.641293,4.561501,0.556592,0.591982,12.639409
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,39.000000,0.000000,0.000000,1.000000,3.000000,2.000000,5.000000,2.000000,2.00000,...,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,3.000000,67.000000,4.000000,4.000000,8.000000,10.000000,9.000000,19.000000,9.000000,9.00000,...,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,6.000000
75%,51.000000,98.000000,16.000000,15.000000,31.000000,23.000000,22.000000,45.000000,23.000000,23.00000,...,7.000000,6.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,12.000000
max,9503.000000,125.000000,773.000000,412.000000,998.000000,521.000000,260.000000,689.000000,496.000000,316.00000,...,245.000000,173.000000,10.000000,11.000000,17.000000,15.000000,162.000000,11.000000,9.000000,342.000000

## Media

In [43]:
for col in df.columns:
    try:
        print('Media ', col, ':' ,df[col].mean())
    except:
        print("", end = "")

Media  LOCALIDAD INEGI : 69.18362105863889
Media  MUNICIPIO : 68.89442145812527
Media  HOMBRES 1¡ : 14.384291625053503
Media  MUJERES 1¡ : 13.73676701383935
Media  TOTAL 1¡ : 28.12105863889285
Media  HOMBRES 2¡ : 17.870238265087746
Media  MUJERES 2¡ : 17.39285204736767
Media  TOTAL 2¡ : 35.26309031245541
Media  HOMBRES 3¡ : 17.29055500071337
Media  MUJERES 3¡ : 16.918889998573263
Media  TOTAL 3¡ : 34.20944499928663
Media  HOMBRES 4¡ : 5.758810101298331
Media  MUJERES 4¡ : 5.459409330860322
Media  TOTAL 4¡ : 11.218219432158653
Media  HOMBRES 5¡ : 5.628691682122985
Media  MUJERES 5¡ : 5.371379654729633
Media  TOTAL 5¡ : 11.000071336852619
Media  HOMBRES 6¡ : 5.541304037665858
Media  MUJERES 6¡ : 5.375231844771009
Media  TOTAL 6¡ : 10.916535882436866
Media  HOMBRES TOTAL : 66.4546297617349
Media  MUJERES TOTAL : 64.18511913254387
Media  MATRICULA TOTAL : 130.6397488942788
Media  DOCENTES : 6.018476244828078
Media  GRUPOS : 4.843415608503353
Media  DOCENETE EDUCACION FISICA : 0.46811242687972604
Media  DOCENTE ACTIVIDADES ARTISTICAS : 0.2584534170352404
Media  DOCENTE ACTIVIDADES TECNONOLOGICAS : 0.2274932229990013
Media  DOCENTE DE IDIOMAS : 0.1287630189756028
Media  PERSONAL DE ADMINISTRATIVO Y SERVICIOS : 1.9575545726922527
Media  DIRECTOR CON GRUPO : 0.4059066913967756
Media  DIRECTOR SIN GRUPO : 0.49500642031673564
Media  TOTAL DE PERSONAL : 9.11520901697817

## Mediana

In [44]:
for col in df.columns:
    try:
        print('Mediana ', col, ':' ,df[col].median())
    except:
        print("", end = "")

Mediana  LOCALIDAD INEGI : 3.0
Mediana  MUNICIPIO : 67.0
Mediana  HOMBRES 1¡ : 4.0
Mediana  MUJERES 1¡ : 4.0
Mediana  TOTAL 1¡ : 8.0
Mediana  HOMBRES 2¡ : 10.0
Mediana  MUJERES 2¡ : 9.0
Mediana  TOTAL 2¡ : 19.0
Mediana  HOMBRES 3¡ : 9.0
Mediana  MUJERES 3¡ : 9.0
Mediana  TOTAL 3¡ : 18.0
Mediana  HOMBRES 4¡ : 0.0
Mediana  MUJERES 4¡ : 0.0
Mediana  TOTAL 4¡ : 0.0
Mediana  HOMBRES 5¡ : 0.0
Mediana  MUJERES 5¡ : 0.0
Mediana  TOTAL 5¡ : 0.0
Mediana  HOMBRES 6¡ : 0.0
Mediana  MUJERES 6¡ : 0.0
Mediana  TOTAL 6¡ : 0.0
Mediana  HOMBRES TOTAL : 33.0
Mediana  MUJERES TOTAL : 31.0
Mediana  MATRICULA TOTAL : 66.0
Mediana  DOCENTES : 3.0
Mediana  GRUPOS : 3.0
Mediana  DOCENETE EDUCACION FISICA : 0.0
Mediana  DOCENTE ACTIVIDADES ARTISTICAS : 0.0
Mediana  DOCENTE ACTIVIDADES TECNONOLOGICAS : 0.0
Mediana  DOCENTE DE IDIOMAS : 0.0
Mediana  PERSONAL DE ADMINISTRATIVO Y SERVICIOS : 1.0
Mediana  DIRECTOR CON GRUPO : 0.0
Mediana  DIRECTOR SIN GRUPO : 0.0
Mediana  TOTAL DE PERSONAL : 6.0

## Desviación estandar

In [45]:
for col in df.columns:
    try:
        print('std ', col, ':' ,df[col].std())
    except:
        print("", end = "")

std  LOCALIDAD INEGI : 373.0267064028633
std  MUNICIPIO : 36.053656461393494
std  HOMBRES 1¡ : 27.83357785130326
std  MUJERES 1¡ : 25.47022942336533
std  TOTAL 1¡ : 52.0605228123182
std  HOMBRES 2¡ : 24.87883022645639
std  MUJERES 2¡ : 24.401494690375568
std  TOTAL 2¡ : 48.27026695411954
std  HOMBRES 3¡ : 23.177130846374222
std  MUJERES 3¡ : 23.090339652236842
std  TOTAL 3¡ : 45.267663739468496
std  HOMBRES 4¡ : 12.623889973225673
std  MUJERES 4¡ : 11.463872623921361
std  TOTAL 4¡ : 23.376977768482174
std  HOMBRES 5¡ : 11.538683199307116
std  MUJERES 5¡ : 11.288623338282592
std  TOTAL 5¡ : 22.312964260984373
std  HOMBRES 6¡ : 11.47752808409474
std  MUJERES 6¡ : 11.317076177402555
std  TOTAL 6¡ : 22.26487789192648
std  HOMBRES TOTAL : 88.00804491353794
std  MUJERES TOTAL : 84.42704030639099
std  MATRICULA TOTAL : 169.07915829613742
std  DOCENTES : 8.163845348974531
std  GRUPOS : 4.671969859250572
std  DOCENETE EDUCACION FISICA : 0.720487014291316
std  DOCENTE ACTIVIDADES ARTISTICAS : 0.6040589013631318
std  DOCENTE ACTIVIDADES TECNONOLOGICAS : 0.870740034696236
std  DOCENTE DE IDIOMAS : 0.6412928565336382
std  PERSONAL DE ADMINISTRATIVO Y SERVICIOS : 4.561500544839543
std  DIRECTOR CON GRUPO : 0.5565919522113857
std  DIRECTOR SIN GRUPO : 0.5919817160205615
std  TOTAL DE PERSONAL : 12.639408633254378

## Conclusiones de los datos

En promedio el numero de hombres y mujeres por grado es casi igual, tiene pequeñas variaciones de hasta 1 alumno por grado.

La mediana es el punto medio del conjunto de datos. El valor de este punto medio es el punto en el cual la mitad de las observaciones esta por encima del valor y la otra mitad esta debajo del valor, por lo que podemos obervar que la media es 4 en los alumnos de  primer grado, esto de 14000 registros, por lo que existen varios salones con menos de 4 alumnos hombres y mujeres.

Una desviación estandar baja indica que la mayor parte de los datos de una muestra tiende a estar agrupados cerca del valor de la media, mientras que una desviación estandar alta indica que los valores se extienden sobre un rango de valores mas amplio, en este caso podemos observar que la desviacion estandar llega a tener un valor de hasta 52 alumnos en el total de alumnos de 1°, por lo que consideramos eso como una desviación estandar, esto quiere decir que el numero de alumnos de cada salon llega a variar mucho entre cada escuela.